{% extends "base.html" %}
{% block body %}
<!-- ABOUT -->
<h3>About</h3>
<p>
I am a doctoral student in the CQT group of the Theoretical Physics Institute at the University Leipzig. 
</p>
<p>
In my diploma thesis I investigatet an advanced algorithm for spin systems, the so called worm algorithm.
In my PhD Thesis I am interested in the behavior of coarse grained polymers in confined environments.
</p>
<p>
Fur this purpose i use Metropolis Monte Carlo algorithms, especially the multicanonical Monte Carlo algorithm.
At the moment i try to cope with all the problems arising from such a generalized ensemble simulation technique.
Which means essentially we try to improve the convergence procedure of the multicanonical algorithm such that 
it don't need week to converge for simulations at very low temperatures. One successfull improvments was to parallelize 
the howle thing, so we need days instead of weeks and clusters instead of single PC's, see 
<a href="http://www.sciencedirect.com/science/article/pii/S001046551200402X">Scaling properties of a parallel implementation of the multicanonical algorithm</a>
<!-- CONTACT -->
<h3>Contact</h3>
<p>
email: <a href="mailto:{{ settings.email }}">{{ settings.email }}</a> (<a href="static/marenz@itp.uni-leipzig.de.asc">PGP key</a>)</br>
Phone: {{ settings.phone }}<br/>
Room: {{ settings.room }} <br/>
Institut für Theoretische Physik<br/>
Universität Leipzig<br/>
Postfach 100 920<br/>
D-04109 Leipzig, Germany<br/>
</p>
{% endblock %}
