{% extends "base.html" %}
{% block body %}
{% filter markdown %}
# My first blogpost

This is my first blogpost, yeahh.
This blog is based on a very simple [flask]("http://flask.pocoo.org/") app.
At the moment i am writing this post, i engaged myself with flask not more then 2 hours.
But it seems to work surprisingly well for me.
Nevertheless i will dig more into flask and as my experience with it evolve this blog should do also.

Essentially i write this blog to lean flask, but i would be very happy if anyone can get some useful information out of it.
So i use this blog also to gather all the things i found useful, especially about C++, vim or science

The first thing i want to do is to gather all the things around vim i use. So i started to list all the addons i appreciate, see [here](/vim).

*Posted on Sun Jul 13, 18:22*

{% endfilter %}
{% endblock %}
