{% extends "base.html" %}
{% block body %}
<h3>diploma thesis</h3>
<p>
    The worm algorithm is about simulating spin systems on a lattice by representing the state space 
    as paths on the lattice. It works surprisingly well and is quite comparable with cluster algorithms.
    <i>Worm Algorithm in Ordered and Disordered Media,</i> <a href="publications/Diplom.pdf">PDF</a><br/>
</p>
<h3>publications</h3>
<ul>
<li> J. Zierenberg, M. Marenz and W. Janke,<br>
     <i>Scaling properties of a parallel implementation of the multicanonical algorithm</i>,<br>
     Comput. Phys. Comm. 184, 1155 (2013) [<a href="http://www.sciencedirect.com/science/article/pii/S001046551200402X">online</a>]
        
<li> M. Marenz, J. Zierenberg, H. Arkin and W. Janke, <br>
     <i>Simple flexible polymers in a spherical cage</i>,<br>
     Condens. Matter Phys. 15, 43008 (2012) [<a href="http://arxiv.org/abs/1212.6144">online</a>]

</ul>
{% endblock %}
