{% extends "base.html" %}
{% block body %}
<!-- ABOUT -->
<h3>Fantastic vim</h3>
<p>As you can guess by the title of this site, i'am a vim user.
Her i collect all the vim addon i use, maybe someone find it useful.
Most of the addons concerning programming, especially C++.
You can find my vimrc on <a href="https://github.com/Blonck/dotfiles">github</a>.
I try to keep this list up to date.
</p>

<h4>Vundle</h4>
<p>The most important addon is <a href="https://github.com/gmarik/Vundle.vim">vundle</a>. It is just wonderful and
makes it very easy to manage all other addons.
Installing, updating and removing, everything is handled with simple commands.
If you want to use any vim addon, use this one first.
</p>

<h4>UltiSnips</h4>
<p>The second most important addon for me is the snippet enigine <a href="https://github.com/SirVer/ultisnips">UltiSnips</a>,
it speeds up writing code or any kind of structured text. Although i use approximately only 5% of its capabilities
is helps me a lot.

<p>Later more.</p>
{% endblock %}
